<div class="fixed top-5 left-1/2 transform -translate-x-1/2 z-50 w-fit max-w-sm">
  <% flash.each do |type, message| %>
    <% flash_class = case type.to_sym
      when :notice then "bg-green-500 text-white border-l-4 border-green-700"
      when :alert then "bg-red-500 text-white border-l-4 border-red-700"
      when :error then "bg-red-500 text-white border-l-4 border-red-700"
      else "bg-blue-500 text-white border-l-4 border-blue-700"
    end %>

    <div class="<%= flash_class %> px-4 py-2 rounded-md shadow-md text-sm font-medium w-fit max-w-sm">
      <%= message %>
    </div>
  <% end %>
</div>
